.single{
    padding: 2px 16px;
    background: #fff;
    display: block;
    transition: 100ms;
    margin: 20px 10px;
    border-left: 8px solid #fff;
}

.single:hover{
    transition: 100ms;
    border-left: 8px solid #3f37c9;
}